.dashboard {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5a/Vande_Bharat_Express_around_Mumbai.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 85vh;
  width: 100%;
}